@charset "UTF=8";

/* Fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cordelina';
    src: url('fontes/cordelina.otf') format('opentype');
  }

/* Configuração geral */
* {
    margin: 0;
}
:root {
    --cor0: black;
    --cor1: white;
    --font0: 'Cordelina';
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", cursive; /*Essa variável não está funcionando */
}
/*Configuração de links */


a {
    color: var(--cor1);
    text-decoration: none;
}

a:hover {
    color: var(--cor1);
    text-decoration: underline;
}


/* Configuração do header */
header {
    text-align: center;
    background-color: var(--cor0);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.659);
}

header > h1 {
    padding-top: 28px;
    font: normal normal 9dvw var(--font0);
    color: var(--cor1);
}

header > p {
    color: var(--cor1);
    font-family: var(--font1);
    padding-bottom: 55px;
}

/*Configuração das sections */

section {
    padding: 10dvh 0px 0dvh 25px;
}

section > p {
    line-height: 2em;
    font-family: "Sriracha", cursive;
    font-size: 3.5dvw;
    margin-bottom: 20dvh;
}
/*Sections com imagems com efeito parallax*/
.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.773);
}

.image > p {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 20px;
    color: white;
    display: inline-block;
}
#image1 {
    background-image: url("imagens/background001.jpg");
}

#image2 {
    background-image: url("imagens/background002.jpg");
}
/*Configuração do footer */

footer {
    text-align: center;
    background-color: var(--cor0);
    color: var(--cor1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -6px;
    padding: 3px;
}